<h1>Test Your Knowledge</h1>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>



</head>

<body>
    <div class="container" id="CreateQuiz">
        <h2>Choose Your Quiz Parameters</h2>
        <h4>Choose Your Difficulty</h4>
        <select class="form-control" id="difficulty">
            <option value></option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <div class="chosen-container chosen-container-single" "chosen-container-active" "chosen-with-drop" title id="diff_chosen">

            <div class="chosen-drop">
                <u1 class="chosen-results">
                    <li class="active-result" data-option-array-index="easy" style>easy</li>
                    <li class="active-result" data-option-array-index="medium" style>medium</li>
                    <li class="active-result" data-option-array-index="hard" style>hard</li>

                </u1>
            </div>
        </div>
        <br>

        <h4>Choose a Category</h4>
        <select class="form-control" id=category>
            <option value></option>
            <option value="20">Mythology</option>
            <option value="23">History</option>
            <option value="24">Politics</option>
            <option value="25">Art</option>
            <option value="21">Sports</option>
        </select>
        <div class="chosen-container chosen-container-single" "chosen-container-active" "chosen-with-drop" title id="category_chosen">

            <div class="chosen-drop">
                <u1 class="chosen-results">
                    <li class="active-result" data-option-array-index="20" style>Mythology</li>
                    <li class="active-result" data-option-array-index="23" style>History</li>
                    <li class="active-result" data-option-array-index="24" style>Politics</li>
                    <li class="active-result" data-option-array-index="25" style>Art</li>
                    <li class="active-result" data-option-array-index="21" style>Sports</li>
                </u1>
            </div>
        </div>
        <br>


        <h4>Question Type</h4>
        <select class="form-control" id="qtype">
            <option value></option>
            <option value="boolean">True/False</option>
            <option value="multiple">Multiple Choice</option>

        </select>
        <div class="chosen-container chosen-container-single" "chosen-container-active" "chosen-with-drop" title id="qtype_chosen">

            <div class="chosen-drop">
                <u1 class="chosen-results">
                    <li class="active-result" data-option-array-index="boolean" style>True/False</li>
                    <li class="active-result" data-option-array-index="multiple" style>Multiple Choice</li>
                </u1>
            </div>
        </div>
    </div>


    <div class="main" id="quiz">
        <div class="container">
            <div id="content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="question" id="questiondisplay"></div>

                        <div class="answers" id="answerdisplay">

                            <span class="questions" id="quizdisplay0"></span>

                            <span class="questions" id="quizdisplay1"></span>

                            <span class="questions" id="quizdisplay2"></span>

                            <span class="questions" id="quizdisplay3"></span>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer" id="end">
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitcreate">Submit</button>


    </div>
    <script type="text/javascript">
        $("#submitcreate").on("click", function (event) {
            event.preventDefault();
            var difficulty = $("#difficulty").val();
            var category = $("#category").val();
            var type = $("#qtype").val();
            queryURL = "https://opentdb.com/api.php?amount=10&category=" + category + "&difficulty=" + difficulty + "&type=" + type;
            console.log(queryURL);
            $("#CreateQuiz").remove()
            $("#submitcreate").remove()
            /* var quizsubmit = $("<button>");
             quizsubmit.attr("id", "quizsubmit");
             quizsubmit.attr( "type", "submit");
             quizsubmit.text("Submit");
             $("#end").append(quizsubmit);*/
            var i;
            var quizAnswers = [];
            var correct = 0;
            var incorrect = 0;
            var imageChoice;
            // quizBuild();
            //quizConstructor();

            i = 0;


            $.ajax({
                url: queryURL,
                method: "GET"
            })
                .then(function (response) {
                    console.log(response);

                    console.log(i);
                    console.log(response.results[i].question);


                    function quizwrite() {


                       
                        $("#questiondisplay").append(response.results[i].question);

                        $("#quizdisplay0").append('<button class="answer-button" id="button- '
                            + i + '" data-name= "' + response.results[i].correct_answer + '">' + response.results[i].correct_answer + '</button>');
                        $("#quizdisplay1").append('<button class="answer-button" id="button- '
                            + i + '" data-name= "' + response.results[i].incorrect_answers[0] + '">' + response.results[i].incorrect_answers[0] + '</button>');

                        $("#quizdisplay2").append('<button class="answer-button" id="button- '
                            + i + '" data-name= "' + response.results[i].incorrect_answers[1] + '">' + response.results[i].incorrect_answers[1] + '</button>');

                        $("#quizdisplay3").append('<button class="answer-button" id="button- '
                            + i + '" data-name= "' + response.results[i].incorrect_answers[2] + '">' + response.results[i].incorrect_answers[2] + '</button>');
                    }
                    
                    quizwrite();



                   
                    $('.answer-button').on("click", function (event) {

                        if ($(event.target).data("name") == response.results[i].correct_answer) {
                            correct++;
                            console.log("Correct score " + correct);
                        } else {
                            incorrect++;
                            console.log("Incorrect score " + incorrect);
                        }
                    

                      
                        $("#questiondisplay").empty()
                         $(".answer-button").remove()


                        if (i <= 10) {
                                i++;
                                quizwrite();
                            } else {
                                alert("game over");
                            }
                        
                    })

                })

        });




















    </script>
</body>