
<div id="signIn">
    <form action="createQuiz">
        <div class="imgcontainer">
            <img src="assets/Image/avatar.image.png" alt="Avatar" class="avatar">
        </div>

        <br>
        <br>


        <div class="container">
            <label for="uname">
                <b>
                    <h1>Username</h1>
                </b>
            </label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <button type="submit">Start Quiz</button>

        </div>
       

</div>
