<form action="createQuiz">
  <div class="imgcontainer">
    <img src="/image/avatar.png" alt="Avatar" class="avatar">
  </div>
<<<<<<< HEAD

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <button type="submit">Start Quiz</button>

  </div>

    <button type="button" class="cancelbtn">Cancel</button>

  </div>
</form>
<<<<<<< HEAD
=======
=======
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <button type="submit">Start Quiz</button>
    
  </div>
    <button type="button" class="cancelbtn">Cancel</button>
    
  </div>
</form>
>>>>>>> master
>>>>>>> master
